
#about {
    color: black;
      background-position: center center;
      background-size:cover;
      background-color: ;
    font-family: Arial,Times, serif;
}



th
      { text-align: center; font-weight:bold;
}

td {font-weight:400;

}
