<html>
    <head>
        <title>Top 9 Hong Kong Museums</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<script src='scriptlib.js'></script>

<style type="text/css">
body {
    color: white;
      background-position: center center;
      background-size:cover;
      background-color: gray;
    font-family: Arial,Times, serif;
}

table {margin-left: 10px;margin-right: 60px;border:1px solid black; border-spacing: 10px;
    border-collapse: collapse;width:200; font-family:Arial
}

th, td
      { height:2px;padding:10px;border: 2px solid black;
}

h1 {
    text-align: center;
}
</style>

    </head>
    <body>
    <h1>Top 9 Hong Kong Museums</h1>
<br>
    <div id="sorry" style="display:none">
    <h3 align="center" color="yellow">Unfortunately, I have not yet figured out<br>
      how to filter the data out from the table constructed by Airtable's Api<br>
    I will try to work out of this</h3><br>
    </div>

<div id="button" align="center">

<div id="free">
    <button type="button" style= "font-size:25px;
    " class="btn btn-primary" onclick="free();">Only show <br>free museums</button>
</div>
<br>

<div id="review">
<button type="button" style= "font-size:30px;
margin-right: 80px;" class="btn btn-danger btn-lg" onclick="4();">4 Stars</button>
<button type="button" style= "font-size:30px;
  margin-right: 10px;" class="btn btn-danger btn-lg" onclick="4.5();">4.5 Stars</button>
</div>

<br>

<div id="location">

    <button type="button" style= "font-size:25px;
      margin-right: 10px;" class="btn btn-warning" onclick="new_territories();">New Territories</button>
      <button type="button" style= "font-size:25px;
        margin-right: 10px;" class="btn btn-warning" onclick="hong_kong();">Hong Kong</button>
        <button type="button" style= "font-size:25px;
          margin-right: 10px;" class="btn btn-warning" onclick="kowloon();">Kowloon</button>
</div>

<br>

<div id="open">
<button type="button" style= "font-size:25px;
margin-right: 10px;" class="btn btn-success" onclick="open_7_days();">Open 7 days <br>a week</button>
<button type="button" style= "font-size:25px;
margin-right: 10px;" class="btn btn-success" onclick="closed_2();">Closed on Tuesday</button>
<button type="button" style= "font-size:25px;
  margin-right: 10px;" class="btn btn-success" onclick="closed_4();">Closed on Thursday</button>

</div>
<br><br>
</div>


    <div id="app">

      <table  data-toggle="table"
       data-url="/gh/get/response.json/wenzhixin/bootstrap-table/tree/master/docs/data/data1/"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true">
        <thead>
                <tr>
                   <th data-field="name">Museum Name</th>
                   <th data-field="stargazers_count">Admission Fees</th>
                   <th data-field="forks_count">Types</th>
                   <th data-field="description">Images</th>
                   <th>Opening Hours</th>
                   <th>Traveler Overview (from: TripAdvisor)</th>
                   <th>% of rating “Excellent” (from: TripAdvisor)</th>
                   <th>Phone Number</th>
                   <th>Address</th>
                   <th>Website</th>
                </tr>
          </thead>

              <tbody>
              <tr v-for="item in items">
                <td>{{ item['fields']['Museum Name'] }}</td>
                <td>{{ item['fields']['Admission Fees'] }}</td>
                <td>{{ item['fields']['Types'] }}</td>
                <td align="center"><img :src="item['fields']['Images'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Images']" width="350"></td>
                <td>{{ item['fields']['Opening Hours'] }}</td>
                <td>{{ item['fields']['Traveler Overview (from: TripAdvisor)'] }}</td>
                <td>{{ item['fields']['% of rating “Excellent” (from: TripAdvisor)'] }}</td>
                <td>{{ item['fields']['Phone Number'] }}</td>
                <td>{{ item['fields']['Address'] }}</td>
                <td>{{ item['fields']['Website'] }}</td>

              </tr>
              </tbody>

     </table>
    </div><!--app-->

        <!-- Include Dependancy Scripts -->
        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: {
                    items: []
                },
                mounted: function(){
                   this.loadItems();
                },
                methods: {
                    loadItems: function(){

                        // Init variables
                        var self = this
                        var app_id = "appsW17MiCVbB2ngY";
                        var app_key = "keyAJxw8CDlX3pUko";
                        this.items = []
axios.get(
                            "https://api.airtable.com/v0/"+app_id+"/Top%209%20Museums%20in%20Hong%20Kong?view=Grid%20view",
                            {
                                headers: { Authorization: "Bearer "+app_key }
                            }
                        ).then(function(response){
                            self.items = response.data.records
                        }).catch(function(error){
                            console.log(error)
                        })
                    }
                }
            })
        </script>
        <br/>

    </body>
</html>
