body {
    padding-left: 11em;
    color: white;
    background-image:url('12.jpg');
     background-repeat: no-repeat;
      background-position: center center;
      background-size:cover;
        background-color: gray;
    font-family: Georgia, Arial,Times, serif;

    }
h1 {
  border-style: hidden;
  background-color:rgba(0,0,0,0.2);
  margin-left: 350px;
  margin-right: 350px;
  text-align: center;
  font-family: Arial;
 }
h2 {
  background-color:rgba(0,0,0,0.4);
  margin-left: 530px;
  margin-right: 530px;
  text-align: center;
  color: white;
}

h4 {border-style: solid;
border-width: 1px;
border-color: black;
text-align: center;
margin-left: 300px;
margin-right: 300px;
padding: 10px;
text-align: center;
background-color: pink;
color: black;
font-style:oblique;
}

<div>p {margin-left: 100px;
font-size: 20px
}
</div>
ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 12em;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

ul.navbar li {
  background: white;
  margin: 1.4em 0;
  padding: 1em;
  border-right: 1em solid Green }

ul.navbar li:hover {
    background: Orange;
 }

ul.navbar a {
  text-decoration: black }
a:link {
  color: blue }
a:visited {
  color: purple }

address {
   margin-top: 11em;
   padding-top: 1em;
   border-top: thin dotted;
   position: relative;

 }
